<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Day start:</b>
  <%= @event.day_start %>
</p>

<p>
  <b>Time start:</b>
  <%= @event.time_start %>
</p>

<p>
  <b>Time end:</b>
  <%= @event.time_end %>
</p>

<p>
  <b>Day end:</b>
  <%= @event.day_end %>
</p>

<p>
  <b>Rules:</b>
  <%= @event.occurrences %>
</p>

<p>
  <b>Schedule</b>
   <%= @schedule.to_s %>
</p>

<p>
  <b>All recurrences</b>
   <%= @schedule.all_occurrences %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
